In [1]:
import numpy as np 
import pandas as pd

In [2]:
df=pd.read_csv('play_tennis.csv')

In [3]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [4]:
df.shape

(14, 6)

In [5]:
df.drop(columns=['day'],inplace=True)

In [6]:
df.shape

(14, 5)

# Problem 1:
- Outlook = sunny
- Temp = Hot
- Humidity = High
- Wind = Weak
### Play or no play

# Solution
- P(YES|sunny,hot,high,weak) = P(sunny|yes)*P(hot|yes)*P(high|yes)*P(weak|yes)*P(yes)
- P(NO|sunny,hot,high,weak) = P(sunny|no)*P(hot|no)*P(high|no)*P(weak|no)*P(no)
- compare and decide using the maximum a posteriori rule

# Problem 2:
- outlook = overcast
- temp = cold
- humidity = low
- wind = weak
### play or no play

# Solution
- P(yes|overcast,cold,low,weak) = P(overcast|yes)*P(cold|yes)*P(low|yes)*P(weak|yes)*P(yes)
- P(no|overcast,cold,low,weak) = P(overcast|no)*P(cold|no)*P(low|no)*P(weak|no)*P(no)
- comapre and decide using the maximum a posteriori rule

# Two phase in the naive bayes algorithm
### training
- in training phase , Naive Bayes creates a lookup table which is stored in the data structure such as dictionary which stores the all the possibility of the probability

### testing

In [8]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

- P(yes)=9/14
- P(no)= 5/14

In [9]:
py=9/14
pn=5/14

In [10]:
# outlook
pd.crosstab(df['outlook'],df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [11]:
poy=4/9
Pon=0
pry=3/9
prn=2/5
psy=2/9
psn=3/5

In [13]:
# temperature
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [14]:
pcy=3/9
pcn=1/5
phy=2/9
phn=2/5
pmy=4/9
pmn=2/5

In [16]:
df.sample()

  outlook  temp humidity  wind play
7   Sunny  Mild     High  Weak   No

In [17]:
# Humidity
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [21]:
phigh_yes=3/9
phigh_no=4/5
pnormal_yes=6/9
pnormal_no=1/5

In [22]:
# wind
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [23]:
pstrong_yes=3/9
pstrong_no=3/5
pweak_yes=6/9
pweak_no=2/5

In [27]:
# P(yes|overcast,cold,low,weak)
p_yes=poy*pcy*pnormal_yes*pweak_yes*py

In [28]:
p_yes

0.042328042328042326

In [29]:
# P(YES|sunny,hot,high,weak)
P_YES=psy*phy*phigh_yes*pweak_yes*py

In [30]:
P_YES

0.007054673721340387